:root {
    --content-width: 840px;
    --c-brand: #e99d31;
    --c-brand-light: #f99d31;
    --c-text-lighter: #e99d31;
    --c-tip: #252525;
}

html.dark {
    --content-width: 840px;
    --c-brand: #e99d31;
    --c-brand-light: #f99d31;
    --c-text-lighter: #e99d31;
    --c-tip: #e99d31;
}